a {
  color: blue;
}

a:visited {
  color: purple;
}

a:hover {
  text-decoration-style: wavy
}

a:active {
  color: orangered;
}

pre > code.sourceCode {
  white-space: pre-wrap;
}

header,
nav {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

nav {
  border-bottom: 1px solid black;
}

nav ul {
  list-style: none;
  padding: 0;
}

main {
  padding-bottom: 16em;
}

#main-title a {
  color: black;
  text-decoration: none;
}

.external_link {
  position: relative;
  margin-right: 0.5em;
}

.external_link::after {
  content: "";
  position: absolute;
  width: 0.8em;
  height: 0.8em;
  top: 0;
  right: -0.8em;
  background-image: url("external_link.svg");
  background-size: cover;
}

.container {
  width: 90%;
  max-width: 40em;
  margin: 0 auto;
}
